<% package = @shipment.package %>
<% username = config().username %>

<%= if international?(@shipment) do %>
  <IntlRateV2Request USERID='<%= username %>'><Revision>2</Revision><Package ID='0'><Pounds>0</Pounds><Ounces><%= weight_in_ounces(@shipment.package.weight) %></Ounces><Machinable>False</Machinable><MailType><%= international_mail_type(package) %></MailType><ValueOfContents><%= Util.price_to_dollars(package.insurance || package.monetary_value) %></ValueOfContents><Country><%= country(@shipment.to) %></Country><Container><%= container(@shipment) %></Container><Size><%= size(@shipment) %></Size><Width><%= package.width %></Width><Length><%= package.length %></Length><Height><%= package.height %></Height><Girth></Girth><OriginZip><%= @shipment.from.postal_code %></OriginZip><%= if package.insurance do %><ExtraServices><ExtraService><%= insurance_code(@shipment, @service) %></ExtraService></ExtraServices><% end %></Package></IntlRateV2Request>
<% else %>
  <RateV4Request USERID='<%= username %>'><Revision>2</Revision><Package ID='0'><Service><%= Service.service_code(@service) %></Service><ZipOrigination><%= @shipment.from.postal_code %></ZipOrigination><ZipDestination><%= @shipment.to.postal_code %></ZipDestination><Pounds>0</Pounds><Ounces><%= weight_in_ounces(@shipment.package.weight) %></Ounces><Container><%= container(@shipment) %></Container><Size><%= size(@shipment) %></Size><Width><%= package.width %></Width><Length><%= package.length %></Length><Height><%= package.height %></Height><Girth></Girth><Value><%= Util.price_to_dollars(package.insurance || package.monetary_value) %></Value><%= if package.insurance do %><SpecialServices><SpecialService><%= insurance_code(@shipment, @service) %></SpecialService></SpecialServices><% end %><Machinable>False</Machinable></Package></RateV4Request>
<% end %>
