<% username = config().username %>
<TrackRequest  USERID='<%= username %>'>
<%= for tracking_number <- @tracking_numbers do %>
<TrackID ID="<%= tracking_number %>"></TrackID>
<% end %>
</TrackRequest>
