<% username = config().username %>
<% salt = @address.address <> @address.company_name <> @address.address <> @address.address_line_2 <> @address.city <> @address.state <> @address.postal_code %>
<AddressValidateRequest USERID='<%= username %>'>
<Revision>1</Revision>
<Address ID='<%= create_hash(salt) %>'>
<FirmName><%= @address.company_name %></FirmName>
<Address1><%= @address.address %></Address1>
<Address2><%= @address.address_line_2 %></Address2>
<City><%= @address.city %></City>
<State><%= @address.state %></State>
<Zip5><%= @address.postal_code %></Zip5>
<Zip4></Zip4>
</Address>
</AddressValidateRequest>
